.card{
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    height: 100%;

    .card_container{
        display: flex;
        gap: 10px;
    }
}

/* Responsiveness starts here */
/* medium screens */
@media (max-width: 991px) {
    .card{
        width: 95%;
    }
}

/* Small Screens */
@media only screen and (max-width: 480px) {
    .card{
       .card_container{
        flex-direction: column;
       }
    }
}