.card_image{
    display: flex;
    flex-direction: column;
    width: 50%;
    .main_image{
        width: 100%;

        img{
            width: 100%;
            height: 300px;
            border-radius: 12px;
            cursor: pointer;
        }
    }
    .thumb_images{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.2s ease-in;
            border: 2px solid hsl(25, 100%, 94%);
        }
        img:hover,.img:active{
            opacity: 0.4;
            border: 2px solid hsl(26, 100%, 55%);
        }
    }
}